@import './../../styles/description.scss';

.button-wrapper {
  max-width: 280px;
  width: 100%;
}

.button {
  color: $color-white;
  width: 100%;
  padding: 12px 0;
  background: $color-blue;
  border-radius: 8px;
  border-width: 1px;
  border-color: $color-blue;
  border-style: none;
}