$color-white: #ffffff;
$color-main: #1e1e1e;
$color-gray: #efefef;
$color-light-gray: #fbfbfb;
$color-light-gray2: #f8f8f8;
$color-light-gray3: #999999;
$color-light-gray4: #eaeaea;
$color-blue: #3369f3;
$color-red: #ff0000;
$color-red-error: #ff2f2f;
