extends /../../index.pug

block append link
  link(rel="stylesheet", href="/src/pages/404/404.scss")
      
block content 
  div.backend-error-wrapper
    p.backend-error-title 404
    p.backend-error-description Не туда попали
    a.backend-error-link(href="/") Назад к чатам
