@import "./styles/global.scss";
@import "./styles/description.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  & h1 {
    @include title;
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 30px;
  padding: 30px;
  width: 320px;
  gap: 16px;

  & a {
    color: $color-blue;
  }
}